*{
    margin: 0;
    padding: 0;

}

/*............NAV.........*/
.flex__nav{
    display: flex;
    flex-direction: row;
    background-color: #FFF159;
    
}

.flex__nav__hijo{
    padding: 15px;
    list-style: none;
}

/*flex body para card*/
.flex__body{
    display: flex;
    flex-direction: row;
}

/*flex body card hijos*/
.flex__body__hijo{
    padding: 20px;
    height: 200px;
    width: 200px;
}

/*............BODY.........*/
.body{
    background-color: #EBEBEB;

}
/*............MAIN.........*/
.main{
    margin: 3rem;
    min-width: 230px;
}

/*............CARD.........*/



.seccion{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    justify-items: center;
    margin-bottom: 100px;
}


.cardtitle{
    border-radius: 5px solid black;
    
}


.table {
   
    justify-items: center;
    align-items: center;
    justify-content: center;
    min-width: 1000px;
    max-width: 1000px;
    border: 5px solid rgba(0, 0, 0, 0.493);
}

.card-img-top {
    max-width: 250px;
    align-items: center;
    align-content: center;
}

.card{  
    margin: 1rem;
    max-width: 280px;
    height: 500px;
}
